# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
node_modules
dist
dist-ssr
*.local
.npmrc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Eslint
eslint.config.js

# Jest
jest.config.ts
coverage

# Typescript
tsconfig.app.json
tsconfig.json
tsconfig.node.json

# Vite
vite.config.ts

.prettierrc